<head>
    <link rel="stylesheet" href="styles/customers_list.css">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>Customers</title>
  </head>
  
  <body>
    <header>
      <div class="logo"><a href="#">E-Commerce Website</a></div>
      <div class="menu">
        <a href="#">
          <ion-icon name="close" class="close"></ion-icon>
        </a>
  
        <ul>
          <li><a href="index.html" class="under">HOME</a></li>
          <li><a href="product_list.html" class="under">SHOP</a></li>
          <li><a href="customers_list.html" class="under">CUSTOMERS</a></li>
        </ul>
      </div>
      <div class="search">
  
        <a href=""><input type="text" placeholder="search products" id="input">
          <ion-icon class="s" name="search"></ion-icon>
        </a>
      </div>
      <div class="heading">
        <ul>
          <li><a href="index.html" class="under">HOME</a></li>
          <li><a href="product_list.html" class="under">SHOP</a></li>
          <li><a href="customers_list.html" class="under">CUSTOMERS</a></li>
        </ul>
      </div>
      <div class="heading1">
        <ion-icon name="menu" class="ham"></ion-icon>
      </div>
    </header>
    <div class="section2">
      <div class="container">
        <div class="items">
          <div class="img img1"><img src="https://dm0qx8t0i9gc9.cloudfront.net/thumbnails/video/4ZrVLdVKeijzurndz/people-emotion-and-facial-expression-concept-face-of-happy-smiling-middle-aged-woman-at-office_rleqp4y7g_thumbnail-1080_09.png" alt=""></div>
          <div class="name">Hilarry</div>
          <div class="info">Regular Customer</div>
        </div>
        <div class="items">
          <div class="img img2"><img src="https://i.pinimg.com/736x/82/09/e5/8209e55e7515b1dea0132b59ddeafe1a.jpg" alt=""></div>
          <div class="name">Howard</div>
          <div class="info">Regular Customer</div>
        </div>
        <div class="items">
          <div class="img img3"><img src="https://thumbs.dreamstime.com/b/real-normal-person-portrait-22299703.jpg" alt=""></div>
          <div class="name">Tom</div>
          <div class="info">Regular Customer</div>
        </div>
        <div class="items">
          <div class="img img4"><img src="https://image.jimcdn.com/app/cms/image/transf/dimension=2048x2048:format=jpg/path/s8aa6f273e521f48c/image/i2b777addea17d4b5/version/1529581514/image.jpg" alt=""></div>
          <div class="name">Hanna</div>
          <div class="info">Regular Customer</div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer0">
        <h1>E-Commerce Website</h1>
      </div>
      <div class="footer1 ">
        Connect with us at<div class="social-media">
          <a href="#">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
          <a href="#">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </div>
      </div>
      <div class="footer2">
        <div class="product">
          <div class="heading">Products</div>
          <div class="div">Sell your Products</div>
          <div class="div">Advertise</div>
          <div class="div">Pricing</div>
          <div class="div">Product Buisness</div>
  
        </div>
        <div class="services">
          <div class="heading">Services</div>
          <div class="div">Return</div>
          <div class="div">Cash Back</div>
          <div class="div">Affiliate Marketing</div>
          <div class="div">Others</div>
        </div>
        <div class="Company">
          <div class="heading">Company</div>
          <div class="div">Complaint</div>
          <div class="div">Careers</div>
          <div class="div">Affiliate Marketing</div>
          <div class="div">Support</div>
        </div>
        <div class="Get Help">
          <div class="heading">Get Help</div>
          <div class="div">Help Center</div>
          <div class="div">Privacy Policy</div>
          <div class="div">Terms</div>
          <div class="div">Login</div>
        </div>
      </div>
      <div class="footer3">Copyright © <h4>E-Commerce Website</h4> 2021-2028</div>
    </footer>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="scripts/products_list.js"></script>
  
  </body>
  
  </html>